[SddmGreeterTheme]
Name=Wraith
Type=sddm-theme
License=GPL-3.0-or-later
Version=1.3.0
Theme-Id=silent
Theme-API=2.0
MainScript=Main.qml
QtVersion=6

ConfigFile=configs/wraith.conf